@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --base-color: #fff;
    --bg-color: #191919;
    --lighter-bg-color: #393939;
    --primary-color: #8a9a7d;
    --highlight-color: #FFCA28;
    --card-hover-bg-color: #3a3a3a;
}

.darkmode {
    --base-color: #191919;
    --bg-color: #ddd;
    --lighter-bg-color: #fff;
    --primary-color: #CADABF;
    --highlight-color: #F57C00;
    --card-hover-bg-color: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--base-color);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    background-color: var(--bg-color);
    padding: 20px 5%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    width: 160px;
}

.navbar .links-container {
    display: flex;
    gap: 32px;
}

.navbar .links-container a {
    font-size: 16px;
    color: var(--base-color);
    transition: color 0.25s ease, background-color 0.25s ease;
}

.navbar .links-container a:hover {
    color: var(--highlight-color);
}

.auth {
    display: flex;
    gap: 16px;
}

.auth button {
    background: none;
    border: none;
    color: var(--base-color);
    font-size: 16px;
    cursor: pointer;
}

#theme-switch {
    height: 35px;
    width: 35px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--lighter-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-switch:hover {
    cursor: pointer;
}

#theme-switch svg {
    fill: var(--primary-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: flex;
}

.logo-container a img:first-child {
    display: none;
}

.darkmode .logo-container a img:last-child {
    display: none;
}

.darkmode .logo-container a img:first-child {
    display: flex;
}

.logo-container {
    zoom: 15%;
    width: 476px;
    height: 216px;
}


/* Main */

.main-body {
    background: var(--lighter-bg-color);
    background-size: cover;
    background-position-y: -5px;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-image: url(images/main-bg.gif);
}

.main-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 240px 5%;
}

.main-container .h1 {
    font-weight: 700;
    font-size: 30px;
}

.lighter {
    background: var(--lighter-bg-color);
}

.aitu-text-container {
    padding: 80px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lighter-bg-color);
    text-align: center;
}

.info {
    background: var(--bg-color);
    padding: 50px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    background-size: cover;
}

.aitu {
    background-image: url(images/aitu.jpg);
}

.java {
    background-image: url(images/java.png);
}

.gym {
    background-image: url(images/gym.jpg);
}

.videogames {
    background-image: url(images/videogames.jpg);
}

.info h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info p {
    font-size: 16px;
}

/* Social Page */
.aitu-main-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.filter-btn {
    background: var(--primary-color);
    color: var(--base-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background 0.3s ease;
}

.filter-btn:hover {
    background: var(--highlight-color);
    color: var(--bg-color);
}

.filter-btn.active-choice {
    background: var(--highlight-color);
    color: var(--bg-color);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: var(--bg-color);
    color: var(--base-color);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border: var(--lighter-bg-color) solid 2px;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.darkmode .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    background-color: var(--lighter-bg-color);
}


/* Popup */
.popup {
    position: fixed;
    top: -150%;
    left:50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: var(--bg-color);
    color: var(--base-color);
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active-popup {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: var(--lighter-bg-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}

.popup .close-btn span {
    font-weight: 100;
    font-size:medium;
    top: -1.5px;
    position: relative;
}

.popup .form h2 {
    text-align: center;
    margin: 4px 0 12px;
    font-size: 24px;
}

.popup .form .form-element {
    margin: 16px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.popup .form .form-element label {
    margin: 0 8px 0 0;
    font-size: 16px;
    color: var(--base-color);
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 12px;
    background-color: var(--lighter-bg-color);
    color: var(--base-color);
}

.popup .form .form-element.incorrect input {
    border: 2px solid #f06272;
    background-color: #f062721b;
}

.popup .form .form-element.incorrect label {
    color: #f06272;
}

.popup .form button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: var(--lighter-bg-color);
    color: var(--base-color);
    border-radius: 10px;
    cursor: pointer;
}

.popup p {
    font-size: 12px;
    text-align: center;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--base-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 24px auto 0 auto;
    width: 100%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question span {
    position: relative;
    top: 5px;
    left: 3px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    text-align: left;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.2;
}

.faq.active .answer {
    max-height: 300px;
}

.faq.active svg {
    transform: rotate(180deg);
    fill: var(--highlight-color);
}

.faq svg {
    fill: var(--base-color);
}

svg {
    transition: transform .25s ease-in;
}

.faq:hover svg {
    fill: var(--highlight-color);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--base-color);
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .links-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        gap: 0;
    }

    .logo-container {
        width: 140px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }

    .popup {
        width: 90%;
        padding: 10px 20px;
    }

    .auth button {
        font-size: 12px;
    }

    .filter-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .filter-container h2 {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 10% 5%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .popup {
        width: 90%;
        padding: 10px 20px;
    }

    .auth button {
        font-size: 12px;
    }

    .filter-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .filter-container h2 {
        font-size: 16px;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: var(--lighter-bg-color);
    border-radius: 5px;
    z-index: 10;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: var(--base-color);
    margin: 3px 0;
    transition: all 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.navbar .links-container {
    display: flex;
    gap: 16px; 
    justify-content: center;
    align-items: center;
}

.navbar.active .links-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar.active {
    position: relative;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .navbar .links-container {
        display: none;
    }

    .navbar.active .links-container {
        display: flex;
    }

    .header-container {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 769px) {
    .navbar .links-container {
        display: flex;
    }

    .navbar.active .links-container {
        display: flex;
    }
}

